@model OneHourSport.Web.Models.Complex.ComplexDisplayViewModel
@{
    Layout = null;
}

<div>
    <div class="row">
        <br />
        <div class="container">
            <div class="row col-lg-offset-1">
                <h3><span style="background-color: #80A4A5; margin-right:10px;">@Model.Index</span><a href="@Url.Action("ComplexDetails", "Complex", new { area = string.Empty, id = Model.Id })">@Model.Name</a></h3>

            </div>
            <br />
            <div class="col-md-3 col-md-offset-1">
                <div class="">
                    <img src="@Url.Action("GetImage", "Picture", new { area = string.Empty, id = Model.PictureId })" alt="@Model.Name" class="displayImage myBox img-responsive" />
                </div>
            </div>

            <div class="col-md-6 text-left">
                <div class="row">
                    @Html.Label("Address: ")
                    @Html.DisplayTextFor(m => m.Address)
                </div>
                <div class="row">
                    @Html.Label("Fields: ")
                    @Html.DisplayTextFor(m => m.FieldsCount)
                </div>
                <div class="row">
                    @Html.Label("Work time: ")
                    @Html.DisplayTextFor(m => m.WorkHourFrom)
                    @Html.Label(" - ")
                    @Html.DisplayTextFor(m => m.WorkHourTo)
                </div>
                <div class="row">
                    @Html.Label("City: ")
                    @Html.DisplayTextFor(m => Model.CityName)
                </div>
            </div>
        </div>
    </div>
</div>