@model OneHourSport.Web.Models.Complex.ComplexDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row ">
        <br />
        <div class="myBox container">
            <div class="row text-center profileBackground">
               Information for @Model.Name
            </div>
            <br />
            <div class="col-md-3 col-md-offset-1">
                @Html.Label("Picture")
                <div class="myBox">
                    <img src="@Url.Action("GetImage", "Picture", new { id = Model.PictureId })" alt="@Model.Name" class="profilePicture img-responsive" />
                </div>
            </div>
            <div class="col-md-3 text-left col-md-offset-1">
                <div class="row">
                    @Html.LabelFor(model => model.Name):
                    @Html.DisplayTextFor(m => m.Name)
                </div>
                <div class="row">
                    @Html.Label("City:")
                    @Html.DisplayTextFor(m => m.CityName)
                </div>
                <div class="row">
                    @Html.Label("Address:")
                    <a href="http://maps.google.com/?q=@Model.Address" target="_blank">@Model.Address</a>
                </div>
                <div class="row">
                    @Html.Label("We work from ")
                    @Html.DisplayTextFor(m => m.WorkHourFrom)
                    @Html.Label(" to ")
                    @Html.DisplayTextFor(m => m.WorkHourTo)
                    @Html.Label(" o'clock!")


                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="row text-center descriptionBackground">
                            Description
                    </div>
                    <p>
                        <span style="width: 10em; word-wrap: break-word;">
                            @Html.DisplayTextFor(m => m.Description)
                        </span>
                    </p>
                </div>
            </div>
            <div class="detailsBtn">
                @Html.ActionLink("Add field", "Create", "Field", new { complexId = Model.Id }, new { @class = "btn btn-default pull-right" })
            </div>
          
        </div>
        <div class="row">
            <div class="pull-left col-lg-offset-1">
                <h1>Complex Field's</h1>
            </div>
        </div>
        <hr />
        <div>
            @Html.Partial("_FieldPartial", Model.MyFields);
        </div>
    </div>
</div>