@model OneHourSport.Web.Models.Shedule.SheduleViewModel

@{
    Layout = null;
    var userName = this.User.Identity.Name;
}

<div class="row">
    <div class="col-md-3">
        <h3 id="currentDate">@Model.Date.ToShortDateString()</h3>
    </div>
    <div class="col-md-6">
        @* value="@DateTime.Today.ToString("yyyy-MM-dd")" *@
        <h3><input id="datePicker" type="date" value="@Model.Date.ToString("yyyy-MM-dd")"/></h3>
    </div>
</div>
<table class="table table-striped table-hover text-center">
    <thead class="text-center">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Hour From</th>
            <th class="text-center">Hour To</th>
            <th class="text-center">Is Occupied/By</th>
            <th class="text-center">Keep</th>
        </tr>
    </thead>
    <tbody>
        @{
            var currentHourFrom = Model.WorkHourFrom;
            var currentHourTo = Model.WorkHourFrom + 1;
        }
        @for (int i = 0; i < Model.WorkHoursCount; i++)
        {
            var isOccupied = false;
            string OccupiedByUsername = "";
            string OccupiedById = "";
            foreach (var item in Model.OccupiedHours)
            {
                if (item.HourFrom == currentHourFrom)
                {
                    isOccupied = true;
                    OccupiedByUsername = item.OccupiedByUsername;
                    OccupiedById = item.OccupiedById;
                    break;
                }
            }
            if (isOccupied)
            {
                <tr class="danger">
                    <td>@i</td>
                    <td>@currentHourFrom</td>
                    <td>@currentHourTo</td>
                    <td><a href="@Url.Action("UserDetails", "Account", new { username = OccupiedByUsername })">@OccupiedByUsername</a></td>
                    <td>X</td>
                </tr>
            }
            else
            {
                <tr class="success">
                    <td>@i</td>
                    <td>@currentHourFrom</td>
                    <td>@currentHourTo</td>
                    <td>Free</td>
                    @* TODO Implement click logic *@
                    <td><button class="btn btn-default keepHour" onclick="saveHour({hourFrom: @currentHourFrom, fieldId: @Model.FieldId, username: '@Model.CurrentUserUsername', date: '@Model.Date.Date' })">Play here</button></td>
                </tr>
            }

            currentHourFrom++;
            currentHourTo++;
        }
    </tbody>
</table>