<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar container navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OneHourSport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                //TODO finish admin paths
                                <li>@Html.ActionLink("Admin Staff", "Index", "Home")</li>
                            }
                            else if (User.IsInRole("complex"))
                            {
                                <li>@Html.ActionLink("My Complex", "Create", "Complex")</li>
                                <li>@Html.ActionLink("My Fields", "Index", "Home")</li>
                                <li>@Html.ActionLink("My Games", "Index", "Home")</li>

                            }
                            else
                            {
                                <li>@Html.ActionLink("My Games", "Index", "Home")</li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container miniMenu">
        <div class="col-md-2 col-sm-offset-1">
            @Html.ActionLink("Football", "Index", "Home")
        </div>
        <div class="col-md-2 col-sm-offset-1">
            @Html.ActionLink("Tennis", "Index", "Home")
        </div>
        <div class="col-md-2 col-sm-offset-1">
            @Html.ActionLink("Volayball", "Index", "Home")
        </div>
        <div class="col-md-2 col-sm-offset-1">
            @Html.ActionLink("Basketball", "Index", "Home")
        </div>
    </div>
    <div class="container body-content coolSideLines">
        @RenderBody()
        <hr />
        <footer class="panel-footer text-center" id="wrap">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
