<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OneHourSport</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/unobtrusive")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar container navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home", new { area = string.Empty }, null)'>
                    <img src="@Url.Content("~/Content/defaults/logo .png")" class="logo pull-left" title="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (this.User.IsInRole("admin"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manage <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Fields", "FieldsAdmin", "FieldAdmin", new { area = "admin" }, null)</li>
                                        <li>@Html.ActionLink("Complexes", "AdminComplex", "ComplexAdmin", new { area = "admin" }, null)</li>
                                        <li>@Html.ActionLink("Comments", "AdminComments", "CommentAdmin", new { area = "admin" }, null)</li>
                                    </ul>
                                </li>
                            }
                            else if (this.User.IsInRole("complex"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Complex <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>@Html.ActionLink("Complex", "CheckComplex", "Complex", new { area = string.Empty }, null)</li>
                                        <li>@Html.ActionLink("Statistics", "Statistics", "Statistics", new { area = string.Empty }, null)</li>

                                    </ul>
                                </li>
                               

                                <li>@Html.ActionLink("Last Games", "LastGames", "Games", new { area = string.Empty }, null)</li>
                                <li>@Html.ActionLink("All Complexes", "AllComplexes", "Complex", new { area = string.Empty }, null)</li>


                            }
                            else
                            {
                                <li>@Html.ActionLink("All Complexes", "AllComplexes", "Complex", new { area = string.Empty, page = 1 }, null)</li>

                                <li>@Html.ActionLink("Last Games", "LastGames", "Games", new { area = string.Empty }, null)</li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container miniMenu">
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { area = string.Empty, category = OneHourSport.Common.Constants.SportCategory.FootBall} )'>
                <img src="@Url.Content("~/Content/defaults/football.png")" class="img-responsive sportImageSmall" title="Football" />
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { area = string.Empty, category = OneHourSport.Common.Constants.SportCategory.Tennis} )'>
                <img src="@Url.Content("~/Content/defaults/tennis.png")" class="img-responsive sportImageSmall" title="Tennis" />
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { area = string.Empty, category = OneHourSport.Common.Constants.SportCategory.VoleyBall} )'>
                <img src="@Url.Content("~/Content/defaults/volleyball.png")" class="img-responsive sportImageSmall" title="Volleyball" />
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { area = string.Empty, category = OneHourSport.Common.Constants.SportCategory.BasketBall} )'>
                <img src="@Url.Content("~/Content/defaults/basketball.png")" class="img-responsive sportImageSmall" title="Basketball" />
            </a>
        </div>
    </div>
    <div class="container body-content coolSideLines">
        @RenderBody()
        <hr />
        <footer class="panel-footer text-center" id="wrap">
            <p>&copy; 2016 - Telerik Academy</p>
            <p>ASP.NET MVC Application by (<a href="http://telerikacademy.com/Users/nikolai.mishev.5" target="_blank">Nikolay Mishev</a>)</p>
            <p><a href="https://github.com/NikolaiMishev/OneHourSport" target="_blank">OneHourSport System 1.0</a></p>
        </footer>

    </div>
    <a href="#" class="scrollToTop btn btn-default">Go Top</a>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

        //Check to see if the window is top if not then display button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 800);
            return false;
        });

    });
</script>