<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OneHourSport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/themes/base/css")

</head>
<body>
    <div class="navbar container navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src="@Url.Content("~/Content/defaults/logo .png")" class="logo pull-left" title="logo" />
                </a>
                @*@Html.ActionLink("OneHourSport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                //TODO finish admin paths
                                <li>@Html.ActionLink("Admin Staff", "Index", "Home")</li>
                            }
                            else if (this.User.IsInRole("complex"))
                            {
                                <li>@Html.ActionLink("My Complex", "CheckComplex", "Complex")</li>

                                <li>@Html.ActionLink("Last Games", "LastGames", "Games")</li>
                                <li>@Html.ActionLink("All Complexes", "AllComplexes", "Complex")</li>


                            }
                            else
                            {
                                <li>@Html.ActionLink("All Complexes", "AllComplexes", "Complex", new { page = 1 }, null)</li>

                                <li>@Html.ActionLink("Last Games", "LastGames", "Games")</li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container miniMenu">
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { category = OneHourSport.Common.Constants.SportCategory.FootBall} )'>
                <img src="@Url.Content("~/Content/defaults/football.png")" class="img-responsive sportImageSmall" title="Football"/>
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { category = OneHourSport.Common.Constants.SportCategory.Tennis} )'>
                <img src="@Url.Content("~/Content/defaults/tennis.png")" class="img-responsive sportImageSmall" title="Tennis" />
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { category = OneHourSport.Common.Constants.SportCategory.VoleyBall} )'>
                <img src="@Url.Content("~/Content/defaults/volleyball.png")" class="img-responsive sportImageSmall" title="Volleyball" />
            </a>
        </div>
        <div class="col-md-2 col-sm-offset-1">
            <a href='@Url.Action("ListFieldsByCategory", "Field", new { category = OneHourSport.Common.Constants.SportCategory.BasketBall} )'>
                <img src="@Url.Content("~/Content/defaults/basketball.png")" class="img-responsive sportImageSmall" title="Basketball" />
            </a>
        </div>
    </div>
    <div class="container body-content coolSideLines">
        @RenderBody()
        <hr />
        <footer class="panel-footer text-center" id="wrap">
            <p>&copy; 2016 - Telerik Academy</p>
            <p>ASP.NET MVC Application by (<a href="http://telerikacademy.com/Users/nikolai.mishev.5"  target="_blank">Nikolay Mishev</a>)</p>
            <p><a href="https://github.com/NikolaiMishev/OneHourSport"  target="_blank">OneHourSport System 1.0</a></p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
