@model OneHourSport.Web.Models.Account.UserDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row text-center">
        <br />
        @if (Model != null)
        {
            @Html.AntiForgeryToken()
            <div class="myBox container">
                <div class="row text-center profileBackground">
                    Profile Information for @Model.UserName
                </div>
                <br />
                <div class="col-md-3 col-md-offset-1">
                    @Html.Label("Picture")
                    <div class="myBox">
                        <img src="@Url.Action("GetImage", "Picture", new { id = Model.PictureId })" alt="@Model.UserName" class="profilePicture img-responsive" />
                    </div>
                </div>
                <div class="col-md-3 text-left col-md-offset-1">
                    <div class="row">
                        @Html.LabelFor(model => model.UserName):
                        @Html.DisplayTextFor(m => m.UserName)
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.FirstName):
                        @Html.DisplayTextFor(m => m.FirstName)
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.LastName):
                        @Html.DisplayTextFor(m => m.LastName)
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.PhoneNumber):
                        @Html.DisplayTextFor(m => m.PhoneNumber)
                    </div>
                    <div class="row">
                        @Html.LabelFor(model => model.Email):
                        @Html.DisplayTextFor(m => m.Email)
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.Label("Skills")
                    <div class="row text-center" id="skillsContainer">
                        <div id="loadingSkills" hidden="hidden">
                            <h1>Loading...</h1>
                        </div>
                    </div>
                </div>
                @if (Model.UserName == this.User.Identity.Name)
                {
                    <div class="detailsBtn">
                        @Html.ActionLink("Change your password", "ChangePassword", "Manage", null, new { @class = "btn btn-default pull-right" })
                    </div>
                }
            </div>
        }
        else
        {
            <h1>Hmm Admin Right!</h1>
            <h2>Dont try this agan!</h2>
            <h3>Or do anithing stupid!</h3>
        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var loading = $("#loadingSkills");
        $(document).ajaxStart(function () {
            loading.show();
        });

        $(document).ajaxStop(function () {
            loading.hide();
        });

        document.endoseSkill = function (resieverUsername, category) {
            var token = $('input[name="__RequestVerificationToken"]').val();

            console.log(token);
            var data = {
                __RequestVerificationToken: token,
                resieverUsername: resieverUsername,
                category: category
            };

            console.log(data);
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Skills/EndorseSkill")',
                data: data,
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    getSkills();
                }
            });
        };

        var getSkills = function () {

            var data = {
                username: '@Model.UserName'
            };

            $.ajax({
                url: '@Url.Content("~/Skills/GetUserSkills")',
                data: data,
                contentType: "application/json",
                success: function (data) {
                    $('#skillsContainer').html(data);
                }
            });
        }

        $(document).ready(getSkills);

    </script>
}