@model OneHourSport.Web.Models.Field.FieldDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row text-center">
        <br />
        <div class="myBox container">
            <div class="row text-center profileBackground">
                Sport Field - @Model.Name
            </div>
            <div class="row col-md-12 text-center">
                <div class="row">
                    @Html.Label("Pictures")
                </div>
                <div id="images-box" class="row">
                    @{
                        var index = 1;
                    }
                    @foreach (var pic in Model.Pictures)
                    {
                        <div class="holder col-sm-3">
                            <div id="image-@index" class="image-lightbox">
                                <span class="close"><a href="#">X</a></span>
                                <img src="@Url.Action("GetImage", "Picture", new { id = pic.PictureId })" alt="@Model.Name" class="" />
                                <a class="expand" href="#image-@index"></a>
                            </div>
                        </div>
                        index++;
                    }
                </div>
            </div>
            <br />
            <div class="row">
                <hr />
                <div class="col-md-4 text-center col-md-offset-4 profileBackground">
                    Information
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-md-6">
                    <div class="row">
                        @Html.Label("Name:")
                        @Html.DisplayFor(x => x.Name)
                    </div>
                    <div class="row">
                        @Html.Label("Category:")
                        @Html.DisplayFor(x => x.Category)
                    </div>
                    <div class="row">
                        @Html.Label("A part of:")
                        @Html.ActionLink(Model.SportComplex.Name, "ComplexDetails", "Complex", new { id = Model.SportComplex.Id }, null)
                    </div>
                    <div class="row">
                        @Html.Label("Price per hour:")
                        @Html.DisplayFor(x => x.PricePerHour) lv
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="row">
                        <div class="col-md-4 text-center col-md-offset-4 profileBackground">
                            Description
                        </div>
                    </div>
                    <p>
                        <span style="width: 10em; word-wrap: break-word;">
                            @Html.DisplayTextFor(m => m.Description)
                        </span>
                    </p>
                </div>
            </div>
            <div class="row text-center menuHoursBackground">
                <a href="/">Shedule</a>
            </div>
            @foreach (var item in Model.Comments)
            {
                <div class="row">
                    <div class="myBox col-md-offset-1 col-md-10">
                        <div class="row">
                            <div class="container">
                                <div class="text-left col-md-offset-1">
                                    <div class="col-md-2">
                                        <h3><a href="@Url.Action("UserDetails", "Account", new { username = item.CreatorName })">@item.CreatorName</a></h3>
                                        <div class="text-left">
                                            <img src="@Url.Action("GetImage", "Picture", new { id = item.PictureId })" alt="@item.DateCreated" class="commentImage myBox img-responsive" />
                                        </div>
                                    </div>
                                    <div class="col-md-offset-1 col-md-5" style="margin-top: 60px;">
                                        <div class="myBox text-center">
                                            @item.Text
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                @Html.Label("Date created:") @item.DateCreated
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px solid #93E888;" />
            }
            <div class="row col-md-10 col-md-offset-1">
                @using (Html.BeginForm("Create", "Comment", new { }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <div class="row form-group">
                        @Html.AntiForgeryToken()

                        <div class="col-md-offset-2 col-md-4">
                            @Html.TextArea("text", new { @class = "form-control", placeholder = "Text" })
                            @Html.Hidden("fieldId", Model.Id)
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <input type="submit" class="btn btn-default btn-lg" value="Create Comment" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
