@model OneHourSport.Web.Models.Comment.CommentViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="myBox col-md-offset-1 col-md-10">
        <div class="row">
            <div class="container">
                <div class="text-left col-md-offset-1">
                    <div class="col-md-2">
                        <h3><a href="@Url.Action("UserDetails", "Account", new { username = Model.CreatorName })">@Model.CreatorName</a></h3>
                        <div class="text-left">
                            <img src="@Url.Action("GetImage", "Picture", new { id = Model.PictureId })" alt="@Model.DateCreated" class="commentImage myBox img-responsive" />
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5" style="margin-top: 60px;">
                        <div class="myBox text-center">
                            @Model.Text
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @Html.Label("Date created:") @Model.DateCreated
            </div>
        </div>
    </div>
</div>
<hr style="border-top: 1px solid #93E888;" />